!!!
%html{ :lang => "en", "xml:lang" => "en", :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html; charset=utf-8" }
      - if @item[:description]
        %meta{ "name" => "description", "content" => @item[:description] }
    - if @keywords
      %meta{ "name" => "keywords", "content" => @keywords }
    %title= @item[:title]
    %link{ :href => "/stylesheets/main.css?3", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{:href => 'http://fonts.googleapis.com/css?family=Oswald:400,300|Gentium+Book+Basic:400,700|Fjalla+One|Courgette|Open+Sans+Condensed:300,700|Great+Vibes', :rel => 'stylesheet', :type => 'text/css'}
    - @item[:additional_stylesheets] && @item[:additional_stylesheets].each do |stylesheet|
      %link{ :href => "/stylesheets/#{stylesheet}.css?3", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "http://feeds.feedburner.com/FlyingMachineStudios", :rel => "alternate", :type => "application/rss+xml" }

  %body{ :class => @body_class }
    %header.top
      .display
        .title
          %a{:href => "/"} Flying Machine Studios
        .subtitle
          adventures in making stuff with Daniel Higginbotham
    #document
      #contact
        %ul
          %li
            %a{:href => "http://twitter.com/nonrecursive"}
              %i{:class => "icon-twitter"}
          %li
            %a{:href => "http://www.linkedin.com/in/danielhigginbotham"}
              %i{:class => "icon-linkedin"}
          %li
            %a{:href => "https://github.com/flyingmachine"}
              %i{:class => "icon-github"}
          %li
            %a{:href => "http://feeds.feedburner.com/FlyingMachineStudios"}
              %i{:class => "icon-rss"}
      #main
        #content.page
          - if article?(@item)
            %h1= @item[:title]
            .date= format_date(@item[:created_at])
              
          = find_and_preserve yield
          
          - if article?(@item)
            %p
              %a{:href => "https://twitter.com/share", :class => "twitter-share-button", "data-via" => "nonrecursive"}Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs')
              
            %h2 Comments
            #disqus_thread
            :javascript
              /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
              var disqus_shortname = 'flyingmachinestudios'; // required: replace example with your forum shortname
              
              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
      #nav
        .articles
          %h2 Popular Blog Posts
          %ol
            %li
              %a.title{:href => "/programming/the-unofficial-guide-to-rich-hickeys-brain/"}The Unofficial Guide to Rich Hickey's Brain
            %li
              %a.title{:href => "/programming/datomic-for-five-year-olds/"}Datomic for Five-Year-Olds
            %li
              %a.title{:href => "/programming/how-clojure-babies-are-made-lein-run/"}How Clojure Babies Are Made: Understanding lein run

          
          %h2 Recent Blog Posts
          %ol
            - sorted_articles[0..7].each do |article|
              - next if article[:draft]
              %li
                %a.title{:href => article.path}= article[:title]

        .projects
          %h2 Projects
          %ol
            %li#cftbat
              %header
                %a{:href => "http://braveclojure.com"}
                  Clojure for the Brave and True
                %p A goofy book for learning Clojure. No functional programming or Java experience required!
            %li#cuym
              %header
                %a{:href => "http://www.visualmess.com"}
                  Clean Up Your Mess: a Guide to Visual Design for Everyone
              %p
                This popular guide will help you
                communicate with conscious skill. It will show you
                how to create designs that are easy to understand
                and attractive.
            %li#gratefulplace
              %header
                %a{:href => "http://gratefulplace.com"}
                  Grateful Place
              %p When we appreciate the good in our lives, the good grows and we have more of it.
            %li#whoops
              %header
                %a{:href => "http://whoopsapp.com"}
                  Whoops
              %p A free, self-hosted tool for logging application events like errors or background worker completion.
            %li#foreman
              %header
                %a{:href => "/foreman"}
                  Foreman
              %p The $2 Mac power tool for reducing clutter

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-666015-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
